body,
button,
input {
  font-family: "Architects Daughter", cursive;
}

.team {
  padding: 1em;
  border-radius: 8px;
  border: 1px solid black;
  margin: 1em;
}

.desc {
  margin: 25px 0px;
  width: 25em;
}
